    body {
        margin: 0px;
        padding: 0px;
    }
    
    #FotoMapa {
        background-image: url(imagens/one-piece-mapa-do-mundo.webp);
        width: 100%;
        height: 250px;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0px;
    }

    h1 {
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        padding-top: 15px;
        margin: 0px;
    }

    nav {
        display: block;
        
    }